    <article class="post_page_post">
        <span class="post_post_title"><%= post.title %></span>
        <p class="post_post_text"> <%= post.text %> </p>
        <div class="post_post_interractions">
        <p><%= pluralize(post.comments_counter, "comment") %></p> 
        <p>, <%= pluralize(post.likes_counter, "like") %></p>
    </div>
    </article>
    <ul class="post_page_comments">
        <% post.five_most_recent_comments.each do |comment| %>
            <li class="post_page_comment"> <%= comment.author.name %> : <%= comment.text %> </li> 
        <% end %>
    </ul>